<div class="jumbotron text-center">
    <h3>The Registration Page</h3>
</div>
<div class="row">
    <div class="col-sm-6">
        <form name="registrationForm" id="registrationForm" ng-submit="registrationForm.$valid && RegistrationController.sendForm()" novalidate>
            <div class="form-group" ng-class="{ 'has-error' : registrationForm.fitstname.$invalid && !registrationForm.fitstname.$pristine }">
                <label for="fitstname">First Name <span class="text-danger"><b>*</b></span></label>
                <input type="text" placeholder="Enter firstname" class="form-control" name="fitstname" id="fitstname" ng-model="RegistrationController.registerUser.fitstname" required="true" ng-minlength="3" ng-maxlength="8">
                <span class="text-danger" ng-show="registrationForm.$submitted && registrationForm.fitstname.$error.required"><b>Please enter valid firstname !</b></span>
                <span class="text-danger" ng-show="registrationForm.fitstname.$error.minlength"><b>Firstname is too short !</b></span>
                <span class="text-danger" ng-show="registrationForm.fitstname.$error.maxlength"><b>Firstname is too long !</b></span>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : registrationForm.lastname.$invalid && !registrationForm.lastname.$pristine }">
                <label for="lastname">Last Name <span class="text-danger"><b>*</b></span></label>
                <input type="text" placeholder="Enter lastname" class="form-control" name="lastname" id="lastname" ng-model="RegistrationController.registerUser.lastname" required="true" ng-minlength="3" ng-maxlength="8">
                <span class="text-danger" ng-show="registrationForm.$submitted && registrationForm.lastname.$error.required"><b>Please enter valid lastname !</b></span>
                <span class="text-danger" ng-show="registrationForm.lastname.$error.minlength"><b>Lastname is too short !</b></span>
                <span class="text-danger" ng-show="registrationForm.lastname.$error.maxlength"><b>Lastname is too long !</b></span>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : registrationForm.email.$invalid && !registrationForm.email.$pristine }">
                <label for="email">Email <span class="text-danger"><b>*</b></span></label>
                <input type="email" placeholder="Enter email address" class="form-control" id="email" name="email" ng-model="RegistrationController.registerUser.email" required="true">
                <span class="text-danger" ng-show="registrationForm.$submitted && registrationForm.email.$error.required"><b>Please enter valid email !</b></span>
                <p class="text-danger" ng-show="registrationForm.$submitted && registrationForm.email.$error.email"><b>Invalid email !</b></p>
                <p class="text-danger" ng-show="registrationForm.email.$invalid && !registrationForm.email.$pristine"><b>Please enter valid email !</b></p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : registrationForm.password.$invalid && !registrationForm.password.$pristine }">
                <label for="password">Password <span class="text-danger"><b>*</b></span></label>
                <input type="password" placeholder="Enter password" class="form-control" id="password" name="password" ng-model="RegistrationController.registerUser.password" required="true" ng-minlength="6" ng-maxlength="20">
                <span class="text-danger" ng-show="registrationForm.$submitted && registrationForm.password.$error.required"><b>Please enter valid password !</b></span>
                <span class="text-danger" ng-show="registrationForm.password.$error.minlength"><b>Password is too short !</b></span>
                <span class="text-danger" ng-show="registrationForm.password.$error.maxlength"><b>Password is too long !</b></span>
            </div>
            <button type="submit" class="btn btn-success pull-right">Submit</button>
        </form>
    </div>
</div>
